@{
    ViewBag.Title = "About MATHER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-area">
    <h3>What is MATHER?</h3>
    <p>
        Mather is a free online calculator with big opportunities.
        It was created with <a href="http://mathjs.org/">Math.js</a> and <a href="http://www.asp.net/">ASP.NET</a>.
    </p>
    <h3>About author</h3>
    <p>
        All rights belong to Rustam Salakhutdinov. You can contact me by this email: salahutd[At sign]gamil.com.
    </p>
</div>

<link href="@Url.Content("~/Content/Styles/About.css")" type="text/css" rel="stylesheet"/>